export GOOGLE_APPLICATION_CREDENTIALS="/Users/rkurdupel/.secrets/gcp/sa-key.json"
export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=
export BILLING_ACCOUNT_ID=
export AWS_DEFAULT_REGION="eu-central-1"
export SSH_KEY_PATH=~/.ssh/id_ed25519
export REDIS_HOST=192.168.56.14
export REDIS_PORT=6379
export REDIS_PASSWORD=coinops
export PROXY_HOST=proxy
export HISTORY_HOST=history
export RABBITMQ_HOST=192.168.56.14
export RABBITMQ_USER=currency_app_user
export RABBITMQ_PASS=coinops
export RABBITMQ_QUEUE=currency_rates
export POSTGRES_HOST=192.168.56.14
export POSTGRES_DB=currency_rates_tracker
export POSTGRES_USER=currency_app_user
export POSTGRES_PASS=password
export POSTGRES_TABLE=currency_rates
export SECRET_KEY=coinops
export TF_VAR_cloudflare_api_token=af094e4cfdf543457703d85362a635f3
export TF_VAR_cloudflare_zone_id=241f016567ddd4ea538a0ed862ce4d83
