# Ingress is a rule that Traefik reads (rule: route home.coin-ops.pp.ua → homepage Service)
ingress:
  main:
    enabled: true
    ingressClassName: traefik # Traefik is a service that runs 24/7 that forwards traffic as a reverse proxy. if request is sent to homepage domain then DNS converts it, by IP reaches node, and Traefik inside nodes returns service (installed homepage app)
    annotations:
        cert-manager.io/cluster-issuer: {{homepage_cluster_issuer}}
    hosts:
      - host: {{homepage_host}}
        paths:
          - path: /
            pathType: Prefix
    tls:
      - hosts:
          - {{homepage_host}}
        secretName: {{homepage_tls_secret_name}}
# when error (Host validation failed. See logs for more details.) while entering home.coin-ops.pp.ua
env:
  HOMEPAGE_ALLOWED_HOSTS: {{homepage_host}}
config:
    bookmarks:
        - Media:
            - Youtube:
                - abbr: YT
                  href: {{homepage_youtube_url}}
    services: []
    widgets: []
    settings:
        title: CoinOps