# cloudflare manifest
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-api-token-secret
  namespace: {{ cert_manager_namespace }}
type: Opaque  # generic secret, store whatever keys is needed
stringData:
  api-token: {{ cert_manager_cloudflare_api_token }}