services:
    rabbitmq:
        image: rabbitmq:3-alpine
        restart: unless-stopped
        env_file:
        - /opt/coinops/cloud-db/.env
        ports:
        - "5672:5672"
        volumes:
        - /var/lib/coinops/rabbitmq:/var/lib/rabbitmq
    redis:
        image: redis:7-alpine
        restart: unless-stopped
        command: redis-server --requirepass {{redis_password}}
        ports:
            - "6379:6379"
        volumes:
            - /var/lib/coinops/redis:/data