services:
    nginx:
        image: nginx:alpine
        restart: unless-stopped
        ports:
         - "80:80"
        volumes:
            - /opt/coinops/cloud-app/nginx.conf:/etc/nginx/conf.d/default.conf:ro
        # start nginx after ui, proxy, history are launched
        depends_on:
            - ui
            - proxy
            - history

    ui: 
        # build to build docker image from dockerfile
        build: /opt/coinops/ui
        restart: unless-stopped
        env_file:
            - /opt/coinops/cloud-app/.env
        depends_on:
            - proxy
            - history
    proxy:
        build: /opt/coinops/proxy_service
        restart: unless-stopped
        env_file:
        - /opt/coinops/cloud-app/.env
        depends_on:
        - history

    history:
        build: /opt/coinops/history_service
        restart: unless-stopped
        env_file:
        - /opt/coinops/cloud-app/.env