server {
    listen 80;
    server_name _;  {# match any hostname (http://3.72.18.80/, http://app.yourdomain.com/, http://anything/) #}
    
    {# match only /health not /health/something/#}
    location = /health {
        {#  don't write to logs with this endpoint (it would contain thousands of entries because alb calls /health every 30 seconds) #}
        access_log off;
        {# tell the browser/alb that the response is in json format #}
        add_header Content-Type application/json;
        return 200 '{"status": "ok"}';
    }

    # chart data goes to ui, not proxy
    location = /api/chart-data {
        proxy_pass http://ui:5000/api/chart-data;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
        
    {# /api/rates /api #}
    location /api/ {
        {# forward request to proxy container on port 5001 (docker networking resolves it automatically) #} 
        proxy_pass http://proxy:5001/;
        {# to keep connection open instead of opening new ones every time #} 
        proxy_http_version 1.1;
        {# pass the original domain to the backend (request: app.yourdomain.com/api/rates, proxy service sees: app.yourdomain.com) #} 
        proxy_set_header Host $host;
        {#  pass the real user ip to backend (without it services see nginx ip)
        # In Docker, each container has its own internal IP (172.17.0.2)
        # without x real ip , proxy sees (172.17.0.2) not real ip  #}
        proxy_set_header X-Real-IP $remote_addr;
    }

    location /history-api/ {
        proxy_pass http://history:5002/;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
    # ui
     location / {
        proxy_pass http://ui:5000/;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}