{# 
  hostvars - ansible inbuilt variable
  contains facts about all hosts as dictionary:
  coinops-db: { ansible_host: 10.10.1.11, ansible_user: rkurdupel, ... }
  
  groups['db'][0]              - get first host in db group = "coinops-db"
  hostvars[groups['db'][0]]    - get dictionary of coinops-db facts
  ['ansible_host']             - get its IP = 10.10.1.11
#}

{% set db_host = hostvars[groups['db'][0]]['ansible_host'] %}


REDIS_HOST={{db_host}}
REDIS_PORT=6379
REDIS_PASSWORD={{redis_password}}

PROXY_HOST=proxy
HISTORY_HOST=history

RABBITMQ_HOST={{db_host}}
RABBITMQ_PORT=5672
RABBITMQ_USER={{rabbitmq_user}}
RABBITMQ_PASS={{rabbitmq_password}}
RABBITMQ_QUEUE={{rabbitmq_queue}}

POSTGRES_HOST={{rds_endpoint}}
POSTGRES_PORT=5432
POSTGRES_DB={{postgres_db}}
POSTGRES_USER={{postgres_user}}
POSTGRES_PASSWORD={{db_password}}
POSTGRES_TABLE={{postgres_table}}

SECRET_KEY={{secret_key}}