# kind: job - one-time task runner
# batch - contains job kind
# a pod with two containers (initContainers, containers) inside
apiVersion: batch/v1
kind: Job
metadata:
  name: coinops-bootstrap
  namespace: {{ coinops_data_namespace }}
spec:
  backoffLimit: 5
  template:
    spec:
      restartPolicy: OnFailure  # restart the pod if the job fails, but not if it succeeds (default is Always, which would restart even on success)
      ttlSecondsAfterFinished: 300 # delete job after 300 seconds of completion

      initContainers:
        - name: wait-for-postgres
          image: postgres:16-alpine
          command:
            - sh
            - -c
            - until pg_isready -h postgres-rw.{{ coinops_data_namespace }} -U $POSTGRES_USER; do sleep 2; done
          envFrom:
            - secretRef:
                name: coinops-secrets
      containers:
        - name: bootstrap
          image: rkurdupel/coin-ops-postgres:v1
          command:
            - sh
            - -c
            - |
              echo "Running schema.sql..."
              psql "$DATABASE_URL" -f /schema/schema.sql
              echo "Running runtime_all.sql..."
              psql "$DATABASE_URL" -f /schema/runtime_all.sql
              echo "Bootstrap complete"
          envFrom:
            - secretRef:
                name: coinops-secrets
          # plug the data into this container at this path
          volumeMounts:
            - name: schema  # take the volume named schema and add this container at /schema path
              mountPath: /schema  # create directory /schema 

      # what data source to use (get schema from coinops-schema)
      volumes:
        - name: schema
          configMap:
            name: coinops-schema