# secrets for CNPG bootstrap - CNPG will create this secret with the provided username and password, 
# and then use it to initialize the database and create the user
# The secret will also be available for other pods to use to connect to the database. 
apiVersion: v1
kind: Secret
metadata:
  name: coinops-pg-credentials
  namespace: "{{ coinops_data_namespace }}"
type: kubernetes.io/basic-auth
stringData:
  username: "{{ coinops_db_user }}"
  password: "{{ coinops_db_password }}"