apiVersion: v1
kind: Secret
metadata:
  name: coinops-secrets
  namespace: {{ secret_namespace }}
type: Opaque
# stringData - plain text, data - base64 encoded values
# postgres.coin-ops-data - reach postgres SERVICE from other namespace
# Service then forwards traffic to postgres-0 pod 
# Postgres StatefulSet creates Pod

# postgres-rw - service created by CNPG operator automatically
# points to current primary postgres pod (postgres-1)
# rw - for read and write
# if primary fails CNPG automatically points postgres-rw to new primary
stringData:
  DATABASE_URL: "postgresql://{{ coinops_db_user }}:{{ coinops_db_password }}@postgres-rw.{{ coinops_data_namespace }}:5432/{{ coinops_db_name }}"
  RUNTIME_BACKEND: "{{coinops_runtime_backend}}"
  POSTGRES_USER: "{{ coinops_db_user }}"
  POSTGRES_PASSWORD: "{{ coinops_db_password }}"
  POSTGRES_DB: "{{ coinops_db_name }}"
  RABBITMQ_URL: "amqp://{{ rabbitmq_user }}:{{ rabbitmq_password }}@rabbitmq.{{ coinops_data_namespace }}:5672/"
  REDIS_URL: "redis://:{{ redis_password }}@redis.{{ coinops_data_namespace }}:6379/0"

