apiVersion: apps/v1
kind: Deployment
metadata:
  name: ui
  namespace: "{{ coinops_namespace }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ui
  template:
    metadata:
      labels:
        app: ui
    spec:
      containers:
        - name: ui
          image: "rkurdupel/coin-ops-ui:v1"
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 15
---
apiVersion: v1
kind: Service
metadata:
  name: ui
  namespace: "{{ coinops_namespace }}"
spec:
  selector:
    app: ui
  ports:
    - port: 80
      targetPort: 80